<div class="header">
    <div class="container">
        <a href="/" class="logo">
            <img src="/img/logo.png">
            <span>bubblecoup</span>
        </a>
        <div class="search">
            <div class="icon <%= icons.search %>"></div>
            <form action="/search/" method="get">
                <input name="q" type="text" class="input" placeholder="thai food..." value="<%= search %>" required="required" />
                <input type="submit" class="button" value="Search" />
            </form>
        </div>
        <div class="links">
            <% if(user) { %>
                <a href="/logout/">sign out</a>
                <a href="/account/">account</a>
            <% } else { %>
                <a href="/login/">sign in</a>
                <a href="/register/">sign up</a>
            <% } %>
        </div>
    </div>
</div>
