<% include ../includes/start.html %>
<% include ../includes/header.html %>
<div class="sidebar">
    <div class="filter">
        <div class="header">Guides</div>
        <div class="list">
            <% guides.forEach(function(guide) { %>
                <a href="/search/?g=<%= guide.slug %>">
                    <%= guide.name %> (<%=: guide.bubbles.length | format %>)
                </a>
            <% }); %>
        </div>
    </div>
</div>
<% include ../includes/footer.html %>
<% include ../includes/end.html %>
