<% include ../includes/start.html %>
<% include ../includes/header.html %>
<div class="container">
    <div class="sidebar">
        <% if(search) { %>
            <div class="filter">
                <div class="header">Search</div>
                <div class="list">
                    <a class="activated" href="/search/?&g=<%= searched_guide || "" %>&l=<%=: location | urlencode %>">
                        <div><%= search %></div>
                        <div class="icon <%= icons.close %>"></div>
                    </a>
                </div>
            </div>
        <% } %>
        <% if(location) { %>
            <div class="filter">
                <div class="header">Location</div>
                <div class="list">
                    <a class="activated" href="/search/?q=<%= search %>&g=<%= searched_guide || "" %>">
                        <div><%= location %></div>
                        <div class="icon <%= icons.close %>"></div>
                    </a>
                </div>
            </div>
        <% } %>
        <div class="filter">
            <div class="header">Food Guides</div>
            <div class="list">
                <% guides.forEach(function(guide) { %>
                    <% if(guide.slug != searched_guide) { %>
                        <a href="/search/?g=<%= guide.slug %>&q=<%= search %>&l=<%=: location | urlencode %>">
                            <div>
                                <%= guide.name %>
                                <% if(!guide.bubbles.empty) { %>
                                    (<%=: guide.bubbles.length | format %>)
                                <% } %>
                            </div>
                        </a>
                    <% } else { %>
                        <a class="activated"  href="/search/?q=<%= search %>&l=<%=: location | urlencode %>">
                            <div>
                                <%= guide.name %>
                                <% if(!guide.bubbles.empty) { %>
                                    (<%=: guide.bubbles.length | format %>)
                                <% } %>
                            </div>
                            <div class="icon <%= icons.close %>"></div>
                        </a>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="results">
        <% bubbles.forEach(function(bubble) { %>
            <a class="bubble" href="/bubbles/<%= bubble.pub_id %>/">
                <img src="/img/food/<%= bubble.pub_id %>.png"/>
                <div class="info">
                    <div class="name"><%= bubble.name %></div>
                    <div class="discount">
                        <div class="about"><%= bubble.discount %>% discount</div>
                        <div class="discounted">$<%= (bubble.original - (bubble.original * (bubble.discount/100))).toFixed(2) %></div>
                        <div class="original">$<%= bubble.original %></div>
                    </div>
                </div>
            </a>
        <% }); %>
    </div>
</div>
<% include ../includes/footer.html %>
<% include ../includes/end.html %>
