<% include ../includes/start.html %>
<% include ../includes/header.html %>
<div class="hero" style="<%= backdrop %>">
    <div class="darkener"></div>
    <div class="container">
        <div class="title">Explore your bubble</div>
        <div class="subtitle">
            Dine in over <%=: companies | format %>
            <%=: "resturant" | pluralize:(companies != 1) %> and
            <%=: cities | format %> <%=: "city" | pluralize:(cities != 1) %>.
        </div>
        <div class="search">
            <form action="/search/" method="get">
                <input name="q" type="text" class="input" placeholder="hot and spicy lasagna..." />
                <input name="l" type="text" class="input google-search" placeholder="your location..." value="<%= location.city %>" />
                <input type="submit" class="button" value="Search" />
            </form>
        </div>
    </div>
</div>
<div class="guides">
    <div class="container">
        <div class="title">Food Guides</div>
        <div class="subtitle">Not sure what kind of food you want? Try out guides!</div>
        <div class="list">
            <% guides.forEach(function(guide) { %>
                <a href="/search/?g=<%= guide.slug %>" class="guide">
                    <img src="/img/guides/<%= guide.slug %>.jpg"/>
                    <div class="darkener"></div>
                    <div class="title"><%= guide.name %></div>
                </a>
            <% }); %>
        </div>
    </div>
</div>
<% include ../includes/footer.html %>
<% include ../includes/end.html %>
